includes:
  - phpstan-baseline.neon

parameters:
  level: max
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Unable to resolve the template type (TKey|TValue) in call to function collect#'
    - '#Parameter \#1 \$callback of method Illuminate\\Support\\Collection<.+?>::map\(\) expects callable\(.+?\): .+? given#'
    - '#Return type of call to method PHPUnit\\Framework\\TestCase::createMock\(\) contains unresolvable type#'
