parameters:
	ignoreErrors:
		-
			message: "#^Method Elastic\\\\Adapter\\\\Indices\\\\MappingProperties\\:\\:text\\(\\) invoked with 0 parameters, 1\\-2 required\\.$#"
			count: 1
			path: tests/Unit/Indices/MappingPropertiesTest.php

		-
			message: "#^Method Elastic\\\\Adapter\\\\Indices\\\\Settings\\:\\:index\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: tests/Unit/Indices/SettingsTest.php
